body {
    text-align: center;
    margin: 0;
}

#Game{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    
}

.hearts{
    margin-bottom: -30px;
}
.hearts img
{
    width: 40px;
    height: 40px;
}

.startGame{
    background-image: url(../images/background12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.Start{
    /*background-color:#00c91a;*/
    margin-top: 5%;
}

.Start .row div{
    display: inline-block;
}

.Start .row div:hover{
    cursor: pointer;
    
}

.Start .row{
    margin-top: -30px;
}
.Start button{
    margin-top: 20px;
    padding: 15px 30px;
    background: brown;
    color: white;
    border: none;
    cursor: pointer;
}
.Start h3{
    font-family: Monoton;
    color: brown;
}

.startGame h1{
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
    color: brown;
}


/* when won */
.congratulations{
    display: none;
    margin-top: 10%;
}

.congratulations span{
    color: #ccc;
    margin-top: -20px;
}
.congratulations h1{
    color: #09a51e;
    font-size: 50px;
}
.playagain{
    background-color: #09a51e;
    border: 2px solid #09a51e;
    border-radius: 3px;
    padding: 10px;
    margin-top: 5px;
    color: white;
    cursor: pointer;
}
/* when fail*/
.fail{
    display: none;
}
.fail h1
{
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
    color: darkred;
    margin-top: 15%;
}



